<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>center</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	<div id="aa">
		<img src="/images/arrow_left.gif"/>
	</div>
</body>
</html>