<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>头部</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	<div class="one">
		<h1 id="toplogo"><img src="/images/topLogo.png"/></h1>
		<ul id="menu">
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/topmune_09.png"/>
					<span>更多模板堂</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="two">
		<ul>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>起始页</span>					
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>设置导航栏</span>
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>商品管理</span>
					<i>0</i>
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>订单管理</span>
					<i>0</i>
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>广告管理</span>
					<i>0</i>
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/index-11_07.png"/>
					<span>用户评论</span>
					<i>0</i>
					<b></b>
				</a>
			</li>
			<li>
				<a href="">
					<span>用户评论</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>商品列表</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>会员列表</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>商店设置</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>移动版</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>服务市场</span>
				</a>
			</li>
		</ul>
	</div>
</body>
</html>