<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>right</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body style="background: url(/images/body_bj.jpg); padding: 10px;">
	<h1 id="top">
		<span>
			<a href="">ECSHOP 管理中心</a>
		</span>
		<span>- 添加新商品</span>
		<span style="margin-left: 20px;">
			<img src="/images/jnsy.png"/>
		</span>
		<span class="r">商品列表</span>
	</h1>
	<div class="content">
		<ul>
			<li>
				<a href="javascript:;">通用信息</a>
			</li>
			<li>
				<a href="javascript:;">详细描述</a>
			</li>
			<li>
				<a href="javascript:;">其他信息</a>
			</li>
			<li>
				<a href="javascript:;">商品属性</a>
			</li>
			<li>
				<a href="javascript:;">商品相册</a>
			</li>
			<li>
				<a href="javascript:;">关联商品</a>
			</li>
			<li>
				<a href="javascript:;">配件</a>
			</li>
			<li>
				<a href="javascript:;">关联文章</a>
			</li>
		</ul>
		<div class="good_add">
			<p>
				<label for="">商品名称：</label>
				<input type="text" size="25" />
			</p>
			<p>
				<label for="">商品货号：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">商品分类：</label>
				<select name="">
					<option value="">请选择...</option>
					<option value="">钻石</option>
					<option value="">衬衫</option>
					<option value="">裤子</option>
				</select>
			</p>
			<p>
				<label for="">扩展分类：</label>
				<input type="button" value="添加" class="button" />
			</p>
			<p>
				<label for="">商品品牌：</label>
				<select name="">
					<option value="">请选择...</option>
					<option value="">钻石</option>
					<option value="">衬衫</option>
					<option value="">裤子</option>
				</select>
			</p>
			<p>
				<label for="">本店售价：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">会员价格：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">商品优惠价格：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">市场售价：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">虚拟销量：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">赠送消费积分数：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">赠送等级积分数：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">积分购买金额：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">促销价：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">促销日期：</label>
				<input type="text" />
			</p>
			<p>
				<label for="">上传商品图片：</label>
				<input type="file" />
			</p>
			<p>
				<label for="">上传商品缩略图：</label>
				<input type="file" />
			</p>
			<p class="btn">
				<input type="button" value="确定" class="button" />
				<input type="button" value="重置" class="button" />
			</p>	
		</div>
	</div>
</body>
</html>